// General
$primary-1: rgb(190, 99, 97);
$light-border: rgb(218, 218, 218);
$mobile-margin-lr: 14px;
$mobile-padding-tb: 30px;
$pc-padding: 30px;

// Text
$text-black: rgb(51, 51, 51);
$text-pink: $primary-1;
$text-black-50: rgba(51, 51, 51, 0.5);
$text-white: rgb(255, 255, 255);
$text-white-50: rgba(255, 255, 255, 0.5);
$text-gray: rgb(43, 43, 43);

// Backgrounds
$bg-yellow: rgb(255, 242, 221);
$bg-pink: rgb(255, 132, 130);
$bg-white: rgb(255, 255, 255);
$bg-lightred: rgb(190, 99, 97);
$bg-darkred: rgb(168, 87, 89);
