@import "../variables";
.button {
	font-family: "DM Sans", sans-serif;
	background-color: $primary-1;
	border: none;
	border-radius: 3px;
	color: $text-white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	width: 170px;
	height: 48px;
}
.button.secondary {
	background-color: transparent !important;
	border: 1px solid !important;
	border-color: $primary-1 !important;
	color: $primary-1 !important;
}
.button.dark {
	background-color: $bg-white !important;
	color: $text-gray !important;
	border: 2px solid !important;
	border-color: $text-gray !important;
}
.button.light {
	background-color: transparent !important;
	border: 1px solid !important;
	border-color: $text-white !important;
	color: $text-white !important;
}
