@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=DM+Sans:wght@400;500;700&display=swap");

$text-black: rgb(51, 51, 51);
$primary-1: rgb(190, 99, 97);
$yellow-bg: rgb(255, 242, 221);
$text-black-50: rgba(51, 51, 51, 0.5);
$text-white: rgb(255, 255, 255);
$text-white-50: rgba(255, 255, 255, 0.5);

$breakpoint: 799px;
$nav-height: 70px;
$nav-background: transparent;

body {
	color: $text-black;
	font-family: "DM Sans", sans-serif;
	font-weight: bold;
	width: 100%;
	margin: 0px;
	padding: 0;
	align-content: center;
}

h1,
h2,
h3 {
	font-family: "Alfa Slab One", cursive;
	font-weight: 500;
}

h1 {
	font-size: 72px;
	line-height: 80px;
}
h2 {
	font-size: 56px;
	line-height: 64px;
}
h3 {
	font-size: 40px;
	line-height: 48px;
}
h4 {
	font-size: 24px;
	line-height: 32px;
}
h5 {
	color: $primary-1;
	font-size: 20px;
	line-height: 24px;
}
.content {
	position: relative;
	max-width: 1170px;
	margin-left: 14px;
	margin-right: 14px;
	@media only screen and (min-width: 981px) {
		margin: auto;
	}
}
.left-content {
	@media only screen and (min-width: 981px) {
		width: 48%;
		max-width: 517px;
		float: left;
	}
}
.right-content {
	@media only screen and (min-width: 981px) {
		width: 45%;
		max-width: 517px;
		float: right;
	}
}
.label {
	font-size: 12px;
}
.text-big {
	font-size: 20px;
	line-height: 32px;
	font-weight: normal;
}
p,
.text {
	font-size: 16px;
	line-height: 24px;
}
.text-gray {
	font-size: 16px;
	line-height: 24px;
	color: $text-black-50;
}
.text-white {
	color: $text-white;
}
.text-small {
	font-size: 12px;
	line-height: 24px;
}

.pink-bg {
	align-content: center;
	background-color: rgba(255, 132, 130, 1);
	width: 100%;
}
.yellow-bg {
	align-content: center;
	background-color: $yellow-bg;
	width: 100%;
}
.white-bg {
	align-content: center;
	background-color: white;
	width: 100%;
}
.lightred-bg {
	align-content: center;
	background-color: rgb(190, 99, 97);
	width: 100%;
}
.darkred-bg {
	align-content: center;
	background-color: rgb(168, 87, 89);
	width: 100%;
}
.img-bg {
	height: 448px;
	background: linear-gradient(rgba(61, 32, 31, 0.5), rgba(61, 32, 31, 0.5)), url("../../img/bg-img.png");
	background-position: center bottom;
	background-repeat: repeat;
}

.text-hyphens {
	hyphens: auto;
}

//Symbols
.input-text {
	font-family: "DM Sans", sans-serif;
	border: 1px solid;
	border-radius: 3px;
	border-color: rgb(218, 218, 218);
	background-color: white;
	text-indent: 16px;
	padding: 14px 0px;
	margin: 14px 0px;
	::placeholder {
		color: $text-black-50;
	}
	@media only screen and (min-width: 981px) {
		max-width: 270px;
	}
}
.dropdown {
	border-radius: 3px;
	border-color: rgb(218, 218, 218);
	background-color: white;
	::placeholder {
		color: $text-black-50;
	}
}

.button {
	font-family: "DM Sans", sans-serif;
	background-color: $primary-1;
	border: none;
	border-radius: 3px;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	width: 170px;
	height: 48px;
}

.button-secondary {
	font-family: "DM Sans", sans-serif;
	background-color: transparent;
	border: 1px solid;
	border-radius: 3px;
	border-color: $primary-1;
	color: $primary-1;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	width: 170px;
	height: 48px;
}
.button-dark {
	font-family: "DM Sans", sans-serif;
	background-color: white;
	border: 2px solid;
	border-radius: 3px;
	border-color: rgb(43, 43, 43);
	color: rgb(43, 43, 43);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	width: 170px;
	height: 48px;
}
.button-light {
	background-color: transparent;
	border: 1px;
	border-radius: 3px;
	border-color: white;
	border-style: solid;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	line-height: 48px;
	font-weight: bold;
	width: 170px;
	height: 48px;
}

// Navigation
.header {
	background-color: rgb(255, 132, 130);
	position: fixed;
	overflow: visible;
	width: 100%;
	z-index: 3; //The z-index property specifies the stack order of an element.
	li {
		list-style: none;
	}
	a {
		text-decoration: none;
	}
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	padding-top: 30px;
	margin: 15px 0;
}
.hamburger {
	display: none;
}
.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: white;
}
.nav-menu {
	display: flex;
}

.nav-link {
	font-size: 16px;
	padding: 20px;
	color: $text-white;
}

.nav-logo {
	font-size: 40px;
	display: block;
	font-family: "Alfa Slab One", cursive;
	color: $text-white;
	margin-right: -20px;
}
@media only screen and (max-width: 981px) {
	.nav-menu {
		position: fixed;
		left: -120%;
		margin-top: 180px;
		flex-direction: column;
		background-color: rgb(255, 132, 130);
		width: 100%;
		transition: 0.3s;
	}
	.navbar {
		.button-light {
			display: none;
		}
	}

	.nav-menu.active {
		left: 0;
	}

	.hamburger {
		display: block;
		cursor: pointer;
	}
	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}
// Content 1
.content-1 {
	padding: 100px 0px;
	overflow: hidden;
	margin-top: -30px;
	h2 {
		width: 100%;
	}
	.input-text {
		width: 100%;
	}
	.button-dark {
		margin-bottom: 10px;
	}
	.button-secondary {
		margin-bottom: 20px;
	}
	img {
		width: 100%;
		max-width: 700px;
		padding-bottom: 20px;
	}
	.social-icon {
		height: 27px;
		width: 27px;
		object-fit: contain;
		padding-right: 15px;
		padding-bottom: 50px;
	}
	.text-gray {
		color: $text-white-50;
	}
	@media only screen and (min-width: 981px) {
		.pc-column {
			margin-top: 30px;
			column-count: 3;
		}
		display: flex;
		.right-content {
			padding-left: 26%;
		}
	}
	ul {
		list-style: none;
		padding-left: 0;
		padding-bottom: 30px;
		li {
			margin-bottom: 24px;
			img {
				height: 23px;
				width: 23px;
				object-fit: contain;
				float: left;
				padding-right: 17px;
			}
		}
	}
}

.content-2 {
	border: 1px solid transparent; // This line lets the bg-img stick to the div above ???
	text-align: center;
	margin-bottom: 49px;
	img {
		margin: auto;
		width: 92px;
		height: 92px;
		object-fit: contain;
	}
	.numbered-icon {
		margin: auto;
		border: 1px solid rgb(229, 229, 229);
		border-radius: 3px;
		width: 170px;
		height: 170px;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
		.number-icon {
			display: flex;
			margin: 10px;
			font-family: "Alfa Slab One", cursive;
			font-size: 24px;
			color: rgba(0, 0, 0, 0.05);
		}
	}
	.text-gray {
		margin: auto;
		width: 306px;
	}
	h5 {
		margin-top: 50px;
	}
	.columns {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.column {
		margin: 2px;
		padding: 25px 0;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	.columns .column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
	@media only screen and (min-width: 981px) {
		.text-big {
			margin: auto;
			width: 570px;
		}
		.large-pc {
			margin: auto;
			width: 713px;
			font-size: 56px;
		}
		.button-dark {
			margin-top: 36px;
		}
		.columns {
			display: flex;
			flex-wrap: nowrap;
			align-content: center;
			justify-content: center;
		}
	}
}
.footer {
	margin: -100px 0;
	ul {
		color: $text-white-50;
	}
}
.copyrights {
	padding: 15px 0;
	margin-top: -80px;
	text-align: center;
	.text-gray {
		color: $text-white-50;
	}
	@media only screen and (min-width: 981px) {
		.mobile-break {
			display: none;
		}
	}
}
